.error {
	color: #F7685B;
}

.heading {
	display: flex;
	margin-bottom: 20px !important;
	font-weight: 500;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 0.01em;
	align-items: center;
	justify-content: center;
}