.usersFormContent {
	padding: 40px;
	position: relative;
	height: calc(100vh - 80px);
}

.error {
	color: #F7685B;
}

.heading {
	display: flex;
	margin-bottom: 40px !important;
	font-weight: 500;
	font-size: 40px;
	line-height: 60px;
	letter-spacing: 0.01em;
}

.bottom {
	display: flex;
	justify-content: flex-end;
}