@import '../../styles/global.module';

.sideBarCollapsed {
	width: 68px !important;
	padding: 40px 2px !important;
	align-items: center;
}

.sideBar {
	display: flex;
	flex-direction: column;
	padding: 40px;
	width: 256px;
	height: calc(100vh - 140px);
	box-shadow: 6px 0 18px rgba(0, 0, 0, 0.06);
	background: $bg-main;
	gap: 40px;
	position: relative;
	.menuUlCollapsed {
		align-items: center;
	}
	.menuUl {
		display: flex;
		flex-direction: column;
		gap: 20px;

		.sidebarLink {
			& > svg {
				margin-right: 14px;
			}
		}
	}
	.divider {
		padding-top: 20px;
		border-top: 1px solid $icon-gray
	}
	.bottomMenuUl {
		display: flex;
		flex-direction: column;
		align-content: space-between;
		height: 100%;
	}
	.bottomMenuLink {
		position: absolute;
		bottom: 20px;
	}
}