@import '../../styles/global.module';

.ordersContainer {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	gap: 40px;
	margin-bottom: 60px;
}

.ordersContentContainer {
	width: 100%;
}