@import '../../styles/global.module';

.layoutMainContainer {
	height: 100vh;
	overflow: hidden;
}

.layoutContentContainer {
	display: flex;
	background: $bg-gray;
}

.layoutContent {
	width: 100%;
	padding: 36px;
	overflow-y: auto;
	height: calc(100vh - 96px - 36px);
}