@import '../../../../styles/global.module';

.avatar {
	width: 46px;
	height: 46px;
	border-radius: 50%;
	content: '';
	background: $icon-gray;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: center;
}