@import '../../../styles/global.module';

.profileContainer {
	display: flex;
	gap: 14px;
	.contactsContainer {
		display: flex;
		flex-direction: column;
		gap: 2px;
		.name {
			font-weight: 500;
			font-size: 14px;
			line-height: 21px;
		}
		.email {
			font-weight: 500;
			font-size: 11px;
			line-height: 16px;
			letter-spacing: 0.01em;
		}
	}
}